@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

html{
  scroll-behavior: smooth;
}


/* body{
  margin: 0px !important;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
} */

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #727272; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #727272; /* Color of the scrollbar handle on hover */
}



 